/* Base styles */
.root-app {
    width: 100%;

    /* We will support a width of the following range -> Screens with exceeding width,
    the app will be limited to only 450px in width */
    min-width: 375px;

    height: 100vh;

    background-color: #171717;
    
    margin: auto;

    overflow: hidden;
    overflow-y: scroll;

    /* For hiding scrollbars in Firefox */
    scrollbar-width: none;

    /* For hiding scrollbars in Edge and IE */
    -ms-overflow-style: none;
}

.root-app::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.page {
    display: flex;
    flex-direction: column;

    max-width: inherit;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    margin-bottom: 2rem;
    padding: 2rem;
    gap: 2rem;
}